TextBox {
    background-color: white;
    position: relative;
    padding: 10px;
    height: 100%;   
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
}

.search-img {
    height: 100px;
    width: 30px;
    color: rgb(212, 212, 212);
    place-items: center;
    display: grid;
}