.nav-ele {
    background-color: gray;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    position: sticky;
    top: 0;
    box-shadow: 20px;  
}

.wrapper-ele {
    width: 100%;
    height: 85%;
    background-color: #949597;
    color: #000;
    display: flex;
    position: relative; 
}

.left-container {
    width: 30%;
    padding: 30px;
    padding-right: 10px;
}

.right-container {
    width: 70%;
    padding: 30px;
    padding-left: 15px;
    position: relative;
}

.right-top-ele {
    display: flex;
    padding-bottom: 20px;
    width: 100%;
    height: 10%;
}

.right-bottom-ele {
    display: flex;
    padding-top: 10px;
    width: 100%;
    height: 90%;
    z-index: 0;
}

.popup-ele {
    width: 100%;
    height: 50%;
    background-color: red;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 30px;
}

.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 20px;
}