@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.App {
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #53565A;
}

.App .welcome {
    width: 100%;
}

form {
    display: block;
    position: relative;
}

form:after {
    content: '';
    display: block;
    position: absolute;
    top: -7.5px;
    left: -7.5px;
    right: -7.5px;
    bottom: -7.5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #40ffbf, #56b3ff)
}

form .form-inner {
    position: relative;
    display: block;;
    background-color: #EEE;
    padding: 30px;
    z-index: 2;
}

form .form-inner h2, h3 {
    color: #53565A;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label
{
    display: block;
    color: #53565A;
    font-size: 20px;
    margin-bottom: 5px;
    transition: 0.4s;
}
/* .form-inner .form-group:focus-within label {
    color: #FE4880;
} */
form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #F8F8F8;
    border-radius: 8px;
    transition: 0.4s
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

/* START OF HOME.js CSS */

.homeContainer {
    position: relative;
    margin: 30px;
    display: flex;
}

.barContainer {
    width: 20%;
    justify-content: center;
}

.searchChoiceContainer {
    width: 80%;
    justify-content: center;
}

.choicesStyle {
    position: relative;
    width: 350px;
    height: 250px;
    background-color: rgb(185, 185, 185);
    text-align: center;
    margin: 20px;
}

.PostList {
    margin: 0 auto;
}

.post-label {
    font-size: 25px;
    text-align: center;
}

.post-preview {
    background-color:rgb(236, 236, 236);
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.post-author {
    font-size: 18px;
    font-weight: bold;
}

.post-post {

}

.post-time {

}

.sample-product-create-form {
    margin: 0 auto;
    width: 60%;
    height: 70%;
    background-color: red;
    position: relative;
    align-items: center;
}

.add-product {
    
}

.input-text {
background-color: rgb(235, 235, 235);
}

.input-box {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.product-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    font-size: 25px;
    text-align: center;
    color: black;
    margin: 10px;
    background-color: rgb(235, 235, 235);
    border-width: 4px;
    border-color: rgb(225, 225, 225);
}

.product-header {

}

.product-description {
    font-size: 20px;
    margin: 0 auto;
}

.button-holder {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-right: 5px;
    padding-left: 5px;
}

#inputbox {
    width: 100px;
    border-width: 5px solid;
    border-color: black;
    background-color: white;
}

.app-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}